# Lecture 9 py codes

## Common functions

In [3]:
import sys
#from google.colab import files
#import io

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
import numpy as np

from math import sqrt

from sklearn.model_selection import KFold, cross_val_score

from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression, Ridge

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier


from sklearn.metrics import accuracy_score, recall_score, precision_score, classification_report

givenDec = lambda gdVal: float('%.3f' % gdVal) # 1 digit

In [4]:
def evaluate_results(gtestLabels, gTestPred):
    d_accuracy = round(accuracy_score(gtestLabels, gTestPred), 4)
    v_recall = np.round(recall_score(gtestLabels, gTestPred, average = None), 4)
    v_prec = np.round(precision_score(gtestLabels, gTestPred, average = None), 4)
    
    d_recallAvg = np.round(recall_score(gtestLabels, gTestPred, average = 'weighted'), 4)
    d_precAvg = np.round(precision_score(gtestLabels, gTestPred, average = 'weighted'), 4)
    v_summaryReport = classification_report(gtestLabels, gTestPred, digits = 4)

    print('\n')
    print(v_summaryReport)

    print('\n')
    print("d_accuracy" + '\t' + str(d_accuracy))
    print("v_recall" + '\t' + str(v_recall[0]) + '\t' + str(v_recall[1]) + '\t' + str(d_recallAvg))
    print("v_prec" + '\t\t' + str(v_prec[0]) + '\t' + str(v_prec[1]) + '\t' + str(d_precAvg))
    
    #print('\n')
    #for i in range(len(gtestLabels)):
    #    print("row " + str(i) + '\t' + str(gtestLabels[i]) + '\t' + str(givenDec(gTestPred[i])))

## Credit Approval Decisions

In [5]:
# For Google Collab uncomment the following two lines
#uploaded = files.upload()
#my_df = pd.read_csv(io.BytesIO(uploaded['creditApproval1.csv']))

# For Jupyter Notebook use the following line
my_df = pd.read_csv("creditApproval1.csv")

labels = np.array(my_df['Decision'])
my_df = my_df.drop('Decision', axis=1) # remove rowIDs from the rows

#my_df.describe()
my_df.describe(include='all')

,Homeowner,Credit Score,Years of Credit History,Revolving Balance,Revolving Utilization
count,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.540000,652.280000,11.240000,13939.400000,0.478600
std,0.503457,90.024722,6.072891,9009.520228,0.324817
min,0.000000,485.000000,2.000000,1000.000000,0.030000
25%,0.000000,586.500000,7.000000,7875.000000,0.157500
50%,1.000000,641.000000,11.000000,11700.000000,0.550000
75%,1.000000,702.750000,15.750000,17300.000000,0.780000
max,1.000000,811.000000,24.000000,37400.000000,1.000000

In [6]:
# my_df.head()
# labels
my_df.shape

(50, 5)

In [7]:
# setting the random state to 42 which means the results will be the same each time I run the split for reproducible results.
train_instances, test_instances, train_labels, test_labels = train_test_split(my_df, labels, test_size = 0.20, random_state = 42)

print('Training instances Shape:', train_instances.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing instances Shape:', test_instances.shape)
print('Testing Labels Shape:', test_labels.shape)

Training instances Shape: (40, 5)
Training Labels Shape: (40,)
Testing instances Shape: (10, 5)
Testing Labels Shape: (10,)

In [8]:
# test_instances
test_labels

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 0])

### LogisticRegression

In [9]:
# clf = LogisticRegression(random_state = 42, class_weight = 'balanced')
clf = LogisticRegression(solver='lbfgs')
model = clf.fit(train_instances, train_labels)
test_predictions = model.predict(test_instances)
evaluate_results(test_labels, test_predictions)

print('\n\n')
print(clf.coef_)
print(clf.intercept_)
coefficients = pd.concat([pd.DataFrame(my_df.columns),pd.DataFrame(np.transpose(clf.coef_))], axis = 1)
print(coefficients)

              precision    recall  f1-score   support

           0     1.0000    1.0000    1.0000         6
           1     1.0000    1.0000    1.0000         4

    accuracy                         1.0000        10
   macro avg     1.0000    1.0000    1.0000        10
weighted avg     1.0000    1.0000    1.0000        10



d_accuracy	1.0
v_recall	1.0	1.0	1.0
v_prec		1.0	1.0	1.0



[[ 1.16954409e+00  1.59235030e-03  6.29665648e-02 -3.87363881e-05
  -2.41080770e+00]]
[-0.83268604]
                         0         0
0                Homeowner  1.169544
1             Credit Score  0.001592
2  Years of Credit History  0.062967
3        Revolving Balance -0.000039
4    Revolving Utilization -2.410808

### KNeighborsClassifier

In [10]:
clf = KNeighborsClassifier(n_neighbors=2)
model = clf.fit(train_instances, train_labels)
test_predictions = model.predict(test_instances)
evaluate_results(test_labels, test_predictions)

              precision    recall  f1-score   support

           0     0.6667    1.0000    0.8000         6
           1     1.0000    0.2500    0.4000         4

    accuracy                         0.7000        10
   macro avg     0.8333    0.6250    0.6000        10
weighted avg     0.8000    0.7000    0.6400        10



d_accuracy	0.7
v_recall	1.0	0.25	0.7
v_prec		0.6667	1.0	0.8

### Decision Tree

In [11]:
clf = DecisionTreeClassifier()
model = clf.fit(train_instances, train_labels)
test_predictions = model.predict(test_instances)
evaluate_results(test_labels, test_predictions)

              precision    recall  f1-score   support

           0     1.0000    1.0000    1.0000         6
           1     1.0000    1.0000    1.0000         4

    accuracy                         1.0000        10
   macro avg     1.0000    1.0000    1.0000        10
weighted avg     1.0000    1.0000    1.0000        10



d_accuracy	1.0
v_recall	1.0	1.0	1.0
v_prec		1.0	1.0	1.0

## Loan Prediction Problem

In [12]:
# For Google Collab uncomment the following two lines
#uploaded = files.upload()
#df_lp = pd.read_csv(io.BytesIO(uploaded['LoanPrediction_train.csv']))

# For Jupyter Python use the following line
df_lp = pd.read_csv("LoanPrediction_train.csv")

#df_lp.describe()
df_lp.describe(include = "all")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,2
top,LP001343,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,Y
freq,1,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,422
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,NaN

#### convert categorical to numerical

In [13]:
df_lp['Married'] =df_lp['Married'].astype('category').cat.codes
df_lp['Gender'] =df_lp['Gender'].astype('category').cat.codes
df_lp['Loan_ID'] =df_lp['Loan_ID'].astype('category').cat.codes
df_lp['Dependents'] =df_lp['Dependents'].astype('category').cat.codes
df_lp['Education'] =df_lp['Education'].astype('category').cat.codes
df_lp['Self_Employed'] =df_lp['Self_Employed'].astype('category').cat.codes
df_lp['Property_Area'] =df_lp['Property_Area'].astype('category').cat.codes
df_lp['Loan_Status'] =df_lp['Loan_Status'].astype('category').cat.codes

# df_lp

#### handle the missing values

In [14]:
df_lp['Gender'].fillna(df_lp['Gender'].mode()[0], inplace=True)
df_lp['Married'].fillna(df_lp['Married'].mode()[0], inplace=True)
df_lp['Dependents'].fillna(df_lp['Dependents'].mode()[0], inplace=True)
df_lp['LoanAmount'].fillna(df_lp['LoanAmount'].mode()[0], inplace=True)
df_lp['Loan_Amount_Term'].fillna(df_lp['Loan_Amount_Term'].mode()[0], inplace=True)
df_lp['Credit_History'].fillna(df_lp['Credit_History'].mode()[0], inplace=True)

# df_lp

#### separate the class label, get train/test

In [15]:
labels_lp = np.array(df_lp['Loan_Status'])
df_lp = df_lp.drop('Loan_Status', axis=1) # remove rowIDs from the rows

In [16]:
# setting the random state to 42 which means the results will be the same each time I run the split for reproducible results.
trSet_lp, testSet_lp, trainLab_lp, testLab_lp = train_test_split(df_lp, labels_lp, test_size = 0.20, random_state = 42)

print('Training instances Shape:', trSet_lp.shape)
print('Training Labels Shape:', trainLab_lp.shape)
print('Testing instances Shape:', testSet_lp.shape)
print('Testing Labels Shape:', testLab_lp.shape)

Training instances Shape: (491, 12)
Training Labels Shape: (491,)
Testing instances Shape: (123, 12)
Testing Labels Shape: (123,)

### Logistic Regression

In [17]:
# clf = LogisticRegression(random_state = 42, class_weight = 'balanced')
clf = LogisticRegression(solver="lbfgs", max_iter=300)
model = clf.fit(trSet_lp, trainLab_lp)
test_predictions = model.predict(testSet_lp)
evaluate_results(testLab_lp, test_predictions)

print('\n\n')
print(clf.coef_)
print(clf.intercept_)
coefficients = pd.concat([pd.DataFrame(df_lp.columns),pd.DataFrame(np.transpose(clf.coef_))], axis = 1)
print(coefficients)

              precision    recall  f1-score   support

           0     0.9474    0.4186    0.5806        43
           1     0.7596    0.9875    0.8587        80

    accuracy                         0.7886       123
   macro avg     0.8535    0.7031    0.7197       123
weighted avg     0.8253    0.7886    0.7615       123



d_accuracy	0.7886
v_recall	0.4186	0.9875	0.7886
v_prec		0.9474	0.7596	0.8253



[[-3.42322697e-06 -5.80015201e-02  4.68412790e-01  9.12774045e-02
  -4.93048089e-01  1.32973849e-02 -7.35736541e-06 -5.80407525e-05
  -2.22097911e-03 -3.43565143e-03  2.95465419e+00 -1.05405020e-01]]
[-0.03565924]
                    0         0
0             Loan_ID -0.000003
1              Gender -0.058002
2             Married  0.468413
3          Dependents  0.091277
4           Education -0.493048
5       Self_Employed  0.013297
6     ApplicantIncome -0.000007
7   CoapplicantIncome -0.000058
8          LoanAmount -0.002221
9    Loan_Amount_Term -0.003436
10     Credit_History  2.954654
11      Property_Area -0.105405

### Decision Tree

In [18]:
clf = DecisionTreeClassifier()
model = clf.fit(trSet_lp, trainLab_lp)
test_predictions = model.predict(testSet_lp)
evaluate_results(testLab_lp, test_predictions)

              precision    recall  f1-score   support

           0     0.5897    0.5349    0.5610        43
           1     0.7619    0.8000    0.7805        80

    accuracy                         0.7073       123
   macro avg     0.6758    0.6674    0.6707       123
weighted avg     0.7017    0.7073    0.7037       123



d_accuracy	0.7073
v_recall	0.5349	0.8	0.7073
v_prec		0.5897	0.7619	0.7017

## Cross-validation

#### data adjustments

In [19]:
# converting df to numpy array and then creating train/test split is necessary for cross validation function
df_lp = np.array(df_lp)

trSet_lp, testSet_lp, trainLab_lp, testLab_lp = train_test_split(df_lp, labels_lp, test_size = 0.20, random_state = 42)

In [20]:
model = LogisticRegression(solver='lbfgs',random_state=42,  max_iter=200)
print("classification_method:" + '\t' + "LogisticRegression")

# cross-validation over training set
k_fold = KFold(n_splits = 5)
for train_index, test_index in k_fold.split(trSet_lp):
    model.fit(trSet_lp[train_index], trainLab_lp[train_index]).score(trSet_lp[test_index], trainLab_lp[test_index])
    # report results after each iter

v_crossValScore = np.round(cross_val_score(model, trSet_lp, trainLab_lp, cv=k_fold, n_jobs=-1), 4)
d_avgCrossValScore = round(np.mean(v_crossValScore), 4)

print('\n Cross validation')
print("d_avgCrossValScore: " + str(d_avgCrossValScore)) # list of accuracy_score for each fold
print("v_crossValScore: " + str(v_crossValScore)) # list of accuracy_score for each fold
print("std_crossValScore: " + str(givenDec(np.std(np.array(v_crossValScore)))))

test_predictions = model.predict(testSet_lp)
evaluate_results(testLab_lp, test_predictions)

classification_method:	LogisticRegression

 Cross validation
d_avgCrossValScore: 0.8004
v_crossValScore: [0.798  0.8265 0.7959 0.7857 0.7959]
std_crossValScore: 0.014


              precision    recall  f1-score   support

           0     0.9474    0.4186    0.5806        43
           1     0.7596    0.9875    0.8587        80

    accuracy                         0.7886       123
   macro avg     0.8535    0.7031    0.7197       123
weighted avg     0.8253    0.7886    0.7615       123



d_accuracy	0.7886
v_recall	0.4186	0.9875	0.7886
v_prec		0.9474	0.7596	0.8253

In [21]:
# another way of doing cross-validation
scores = cross_val_score(LogisticRegression(solver='lbfgs', max_iter=300), df_lp, labels_lp, cv=5, scoring='accuracy')
print(scores)

[0.81300813 0.76422764 0.7804878  0.84552846 0.81967213]