# Lab 4 Questions

$\color{red}{\text{RULES:}}$

1) Work individually! 

2) You can use the lecture notes (that are posted on D2L), and other materials (e.g. books, web searches).

### Question 1

Pandas exercises:

1. Write a python program using Pandas to create and display a one-dimensional array-like object containing an array of data.
2. Write a python program using Pandas to convert a Panda module Series to Python list and print it's type. (Hint: use ds.tolist() to convert the pandas series ds to a list)
3. Create a pandas dataframe called **my_df** with index as integer numbers between 0 to 10, first column (titled "rnd_int") as 10 integer random numbers between 10-25, second column ("rnd_float") as 10 random continuous numbers (not necessarily integer) between 15-40, and third column ("rnd_strBool") as 10 random string values that are either "True" or "False" (Hint: numpy.random.uniform(a,b,count) and numpy.random.randint(a,b,size=count) can be helpful)

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

In [ ]:
import numpy as np

def get_strBool(gin):
    if(gin == 0):
        return "False"
    else:
        return "True"

my_df = pd.DataFrame({
    "rnd_int": np.random.randint(10,25,size=10),
    "rnd_float": np.round(np.random.uniform(15,40,10),1),
    "rnd_strBool": [get_strBool(val) for val in np.random.randint(0,2,size=10)],
})

my_df

### Question 2

Consider the dataframe (df) provided below. Please perform the following tasks:

(1.a) Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

(1.b) Write a Pandas program to count the number of rows and columns of the df.

(1.c) Write a Pandas program to group by the "qualify" column and get average score values in the rows. This should be done after replacing NaNs with zeros. A sample output is as follows:

qualify

no 5.2

yes 16.5

(1.d) Write a Pandas program to plot a histogram of scores (after replacing NaNs with zeros)

In [ ]:
import numpy as np
import pandas as pd

grade_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(grade_data)

In [ ]:
df.fillna(0)

In [ ]:
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

In [ ]:
df.groupby('qualify')['score'].mean()

In [ ]:
df.fillna(0)["score"].hist()